/* The button used to open the sidebar */
@import 'src/styles/main.scss';

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:$dark-theme;
    color: white;
    padding: 10px 15px;
    border: none;
    position: absolute;
    left: 10px;
    top: 1px;
    z-index: 40;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
    // position: fixed;
  }
  