
// colors
$primary-blue: rgb(0,161,224);
$secondary :rgb(221,117,65) ;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$grey  :rgb(128,128,128);
$light-grey:rgb(232,232,232);


$success : green;
$failure:red;
