/* You can add global styles to this file, and also import other style files */
@import 'src/styles/main.scss';

body{
    background-color: $dark-theme;
    font-family: $roboto;
    color: $white;
}